{% extends 'base.html.twig' %}

{% block title %}Soirée{% endblock %}

{% block body %}


<div class="container">
   <div class="row">

    <h1 classe="text-center p-5 " style="color:grey">Soirées</h1>
    <p classe="text-center p-5 " style="color:orange">  <br>Discothèques  & bars </p>

    
            <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;">
                <img src="{{asset('assets/imag/s7.png')}}"  alt="...">
                
            </div>
        


    <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;">
        <img src="{{asset('assets/imag/s1.png')}}"  alt="...">
        
        </div>
    
 
        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;">
        <img src="{{asset('assets/imag/s2.png')}}"  alt="...">
        
        </div>
    

        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;">
        <img src="{{asset('assets/imag/s8.png')}}"  alt="...">
        
        </div>
    

        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;">
        <img src="{{asset('assets/imag/s4.png')}}" height="200px" class="card-img-top" alt="...">
        
        </div>
    

        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;">
        <img src="{{asset('assets/imag/s5.png')}}" height="200px" class="card-img-top" alt="...">
        
        </div>


        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;">
        <img src="{{asset('assets/imag/s6.png')}}"  height="200px" class="card-img-top  " alt="...">
        
        </div>
    

        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;">
        <img src="{{asset('assets/imag/SoiréeGirlPower3.png')}} " height="200px" class="card-img-top " alt="...">
        
        </div>
        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;">
        <img src="{{asset('assets/imag/S3.png')}} " height="200px" class="card-img-top " alt="...">
        
        </div>
    
</div>
     


{% endblock %}
