{% extends 'base.html.twig' %}

{% block title %}Schooldj{% endblock %}

{% block body %}
<div class="container">
<h1>School DJ Mixe</h1>


</div>



<div class="container mt-5">
<h2 classe="text-center p-5" style="color:grey" >Student</h2>

<p style="color: orange; font-size: 1.2em;" classe=" mt-5">
<br>
À l'heure ou la technologie permet de simplifier les enchaînements. <br>
 Faire danser et créer une ambiance délirante pendant des heures n'est pas si simple.<br> <br>


Transmettre ses acquis, c'est aussi permettre à tous ceux qui le souhaitent, 
d'améliorer ses performances, ou d'adopter les bons réflexes dès le départ. <br>
Un DJ ce n'est pas que savoir enchaîner 2 ou 3 titres en même temps, faire du scratch ou autres effets. <br>
La clé pour être un bon DJ, c'est de savoir créer une ambiance adaptée à la situation.
<br> Créer une émotion, faire chanter, ou techniquement maîtriser un effet sur un drop qui fait monter la pression, <br>
l'émotion, la surprise, pour un lâché prise incroyable. <br> <br>
Admirez ces instants de bonheur ci-dessous. <br>
Voilà pourquoi j'aime ce métier ! <br>







</p>

<div class="slider-container">
        <button class="direction-btn left">
          <img src="{{asset('assets/ressources/left-chevron.svg')}}" alt="left arrow">
        </button>
        <button class="direction-btn right">
          <img src="{{asset('assets/ressources/right-chevron.svg')}}" alt="right arrow">
        </button>
      
        <div class="slide slide-1 active">
          <div class="content">
            <img src="{{asset('assets/imag/club9.jpg')}}" alt="cat profile">
            
            
          </div>
        </div>

        <div class="slide slide-2">
          <div class="content">
            <img src="{{asset('assets/imag/niag2.jpg')}}" alt="cat profile">
          </div>
        </div>

        <div class="slide slide-3">
          <div class="content">
            <img src="{{asset('assets/imag/niag3.jpg')}}" alt="cat profile">
            
            </div>
          </div>
          <div class="slide slide-4">
          <div class="content">
            <img src="{{asset('assets/imag/chaum2.png')}}" alt="cat profile">
            
            </div>
          </div>
          
          <div class="slide slide-5">
          <div class="content">
            <img src="{{asset('assets/imag/chaum1.jpg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-6">
          <div class="content">
            <img src="{{asset('assets/imag/club11.jpg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-7">
          <div class="content">
            <img src="{{asset('assets/imag/club10.jpg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-8">
          <div class="content">
            <img src="{{asset('assets/imag/club2.jpeg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-8">
          <div class="content">
            <img src="{{asset('assets/imag/club8.jpeg')}}" alt="cat profile">
            
           </div> 
          </div>


       
      </div>



{% endblock %}
