{% extends 'base.html.twig' %}

{% block title %}Portefolio{% endblock %}

{% block body %}
<div class="container mt-2">
<h1 classe="text-center p-2">Portefolio</h1>

<h3 style="color: grey" classe=" text-center  " >
<br>
					Voici quelques moments capturés lors de mes soirées. <br>
  </h3>

<div class="slider-container">
        <button class="direction-btn left">
          <img src="{{asset('assets/ressources/left-chevron.svg')}}" alt="left arrow">
        </button>
        <button class="direction-btn right">
          <img src="{{asset('assets/ressources/right-chevron.svg')}}" alt="right arrow">
        </button>
      
        <div class="slide slide-1 active">
          <div class="content">
            <img src="{{asset('assets/imag/p16.png')}}" alt="cat profile">
            
            
          </div>
        </div>

        <div class="slide slide-2">
          <div class="content">
            <img src="{{asset('assets/imag/p11.jpeg')}}" alt="cat profile">
          </div>
        </div>

        <div class="slide slide-3">
          <div class="content">
            <img src="{{asset('assets/imag/p2.jpg')}}" alt="cat profile">
            
            </div>
          </div>

          <div class="slide slide-4">
          <div class="content">
            <img src="{{asset('assets/imag/p3.jpg')}}" alt="cat profile">
            
            </div>
          </div>
          
          <div class="slide slide-5">
          <div class="content">
            <img src="{{asset('assets/imag/p4.jpg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-6">
          <div class="content">
            <img src="{{asset('assets/imag/p5.jpeg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-7">
          <div class="content">
            <img src="{{asset('assets/imag/p6.jpg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-8">
          <div class="content">
            <img src="{{asset('assets/imag/p7.jpeg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-9">
          <div class="content">
            <img src="{{asset('assets/imag/p8.jpeg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-10">
          <div class="content">
            <img src="{{asset('assets/imag/p9.jpeg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-11">
          <div class="content">
            <img src="{{asset('assets/imag/p14.jpg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-12">
          <div class="content">
            <img src="{{asset('assets/imag/p10.jpeg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-13">
          <div class="content">
            <img src="{{asset('assets/imag/p12a.png')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-14">
          <div class="content">
            <img src="{{asset('assets/imag/p13.jpg')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-15">
          <div class="content">
            <img src="{{asset('assets/imag/p14.png')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-16">
          <div class="content">
            <img src="{{asset('assets/imag/p15.png')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-17">
          <div class="content">
            <img src="{{asset('assets/imag/p18.png')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-18">
          <div class="content">
            <img src="{{asset('assets/imag/p19.png')}}" alt="cat profile">
            
           </div> 
          </div>

          <div class="slide slide-19">
          <div class="content">
            <img src="{{asset('assets/imag/p20.png')}}" alt="cat profile">
            
           </div> 
          </div>
          <div class="slide slide-20">
          <div class="content">
            <img src="{{asset('assets/imag/p21.png')}}" alt="cat profile">
            
           </div> 
          </div>

<div class="slide slide-21">
          <div class="content">
            <img src="{{asset('assets/imag/p22.png')}}" alt="cat profile">
            
           </div> 
          </div>

<div class="slide slide-22">
          <div class="content">
            <img src="{{asset('assets/imag/p23.png')}}" alt="cat profile">
            
           </div> 
          </div>

<div class="slide slide-23">
          <div class="content">
            <img src="{{asset('assets/imag/p24.png')}}" alt="cat profile">
            
           </div> 
          </div>

<div class="slide slide-24">
          <div class="content">
            <img src="{{asset('assets/imag/p25.png')}}" alt="cat profile">
            
           </div> 
          </div>

<div class="slide slide-25">
          <div class="content">
            <img src="{{asset('assets/imag/p26.png')}}" alt="cat profile">
            
           </div> 
          </div>

<div class="slide slide-26">
          <div class="content">
            <img src="{{asset('assets/imag/p27.png')}}" alt="cat profile">
            
           </div> 
          </div>

<div class="slide slide-27">
          <div class="content">
            <img src="{{asset('assets/imag/p28.png')}}" alt="cat profile">
            
           </div> 
          </div>

<div class="slide slide-28">
          <div class="content">
            <img src="{{asset('assets/imag/p29.png')}}" alt="cat profile">
            
           </div> 
          </div>




   </div>














{% endblock %}


